body, html {
    height: 100%;
    font-size: 100%;
}
@font-face {
    font-family: 'myriad-pro-light';
    src: url(../fnt/MyriadPro-Light.otf);
}
@font-face {
    font-family: 'myriad-pro-regular';
    src: url(../fnt/MyriadPro-Regular.otf);
}
@font-face {
    font-family: 'myriad-pro-bold';
    src: url(../fnt/MyriadPro-Bold.otf);
}
body {
    margin: 0;
    font-family: 'myriad-pro-light', trebuchet ms, helvetica, sans;
    background: rgb(235, 230, 225);
}
/*
#my-container {
    background: rgb(235, 230, 225);
    height: 100%;

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a {
    color: inherit;
}
*/
ul.list {
    margin-top: .3em;
    list-style-type: binary;
    font-size: 65%;
    font-family: 'Courier New';
    color: rgb(10, 10, 10);
}
ul.list span.item {
    font-size: 153.8%;
    font-weight: normal;
    font-family: 'myriad-pro-light';
}
