body, html {
    height: 100%;
    font-size: 100%;
}
@font-face {
    font-family: 'myriad-pro-light';
    src: url(../fnt/MyriadPro-Light.otf);
}
@font-face {
    font-family: 'myriad-pro-regular';
    src: url(../fnt/MyriadPro-Regular.otf);
}
@font-face {
    font-family: 'myriad-pro-bold';
    src: url(../fnt/MyriadPro-Bold.otf);
}
body {
    margin: 0;
    font-family: 'myriad-pro-light', trebuchet ms, helvetica, sans;
    background: rgb(35, 35, 35);
    color: rgb(155, 155, 155);
    background-image: -webkit-gradient(radial, center top, 0, center top, 1000, color-stop(0, #1c1c1c), color-stop(1, #050505));
    background-attachment: fixed;
}
a,
a:hover {
    color: inherit;
}
ul.list {
    margin-top: .3em;
    list-style-type: binary;
    font-size: 65%;
    font-family: 'Courier New';
    color: rgb(135, 135, 135);
}
ul.list span.item {
    font-size: 153%;
    font-weight: normal;
    font-family: 'myriad-pro-light';
    color: rgb(155, 155, 155);
}

#my-container {
    margin: auto;
    max-width: 760px;
}
#desc {
    margin-top: 19px;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'myriad-pro-regular';
    color: rgb(175, 175, 175);
}
h1 {
    text-align: center;
    font-size: 60px;
    line-height: 1em;
    color: rgb(200, 200, 200);
    letter-spacing: .05em;
    text-shadow: 0 0 5px rgb(100, 100, 100);
}
.plugin {
    margin-bottom: 20px;
    box-shadow: 0 0 200px rgba(255, 255, 255, .1);
}
#header {
    padding: 20px 0 10px;;
    position: relative;
}
#logo {
    position: absolute;
}
#footer {
    padding-top: 20px;
    margin-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, .15);
}
