<!DOCTYPE html>
<html lang="en">
<head>
<title>Little IO</title>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38450508-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<link href="/static/css/app.css" rel="stylesheet">
</head>
<body>

<div id="my-container">
    <div id="sidepanel">
        <img id="logo" class="img-center" src="/static/img/littleio_small_dark.png"></img>
    </div>
    <div id="bigpanel">
        <div id="bigpanel-inner">
            <div class="tabs">
                {% set tabs = [('/', 'home'), ('/rack_extensions', 'rack extensions'), ('/info', 'info')] %}
                {% for tab in tabs %}
                    <a class="tab {% if tab[0] == active_tab %}active{% endif %}"  href="{{tab[0]}}">
                        {{tab[1]}}
                    </a>
                {% endfor %}
            </div>
            <div class="clear"></div>
            <div id="content">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>

<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/underscore.min.js"></script>
<script type="text/javascript">
$(window).load(function(){
    var h = $('#bigpanel-inner').height();
    h = Math.max(h, $('#bigpanel').height());
    $('#bigpanel').height(h);
    $('#sidepanel').height(h);
});
</script>

{% block js %} {% endblock %}

</body>
</html>
