<!DOCTYPE html>
<html lang="en">
<head>
<title>Little IO</title>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38450508-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/app.css" rel="stylesheet">
</head>
<body>

<div id="my-container" class="container-fluid">
    <div id="header" class="row-fluid">
        <div class="span12">
            <img id="logo" src="/static/img/littleio_small_dark.png"></img>
            <h1>Little LFO</h1>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <img class="plugin" src="/static/img/little_lfo.png"></img>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <p>Little LFO is a semi-modular Rack Extension for <a href="http://shop.propellerheads.se" target="_blank">Reason</a>.</p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span4">
            <h4 class="list-title">Uses</h4>
            <ul class="list">
                <li>
                    <span class="item">
                        a monophonic oscillator section for a modular synth
                    </span>
                </li>
                <li>
                    <span class="item">
                        a modulation source
                    </span>
                </li>
                <li>
                    <span class="item">
                        a noise maker
                    </span>
                </li>
            </ul>
        </div>
        <div class="span4">
            <h4 class="list-title">Features</h4>
            <ul class="list">
                <li>
                    <span class="item">
                        4 oscillators
                    </span>
                </li>
                <li>
                    <span class="item">
                        Enveloped and non-enveloped CV outputs (bipolar and unipolar)
                    </span>
                </li>
                <li>
                    <span class="item">
                        Enveloped and non-enveloped audio outputs
                    </span>
                </li>
                <li>
                    <span class="item">
                        Gate, note, and envelope CV out
                    </span>
                </li>
            </ul>
        </div>
        <div class="span4">
            <h4 class="list-title">Uniqueness</h4>
            <ul class="list">
                <li>
                    <span class="item">
                        All active oscillators...
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <div id="footer" class="row-fluid">
        <div class="span12">
            <p>
                <small>
                    So far it's just this one plugin, but more are on the way. Email comments, questions, and suggestions to littleioaudio@gmail.com.
                </small>
            </p>
            <p class="text-right">
                <small>
                    &mdash; 
                    <a href="http://tytel.org" target="_blank">
                        Matt
                    </a> 
                    and
                    <a href="http://nourahowell.com" target="_blank">
                        Noura
                    </a>
                    &nbsp;&lt;3 &lt;3 &lt;3
                    <br/>
                    Somerville, MA, U.S.
                </small>
            </p>
        </div>
    </div>

</div>

<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/underscore.min.js"></script>
<script type="text/javascript">
    $(window).load(function(){
        var h = $('#bigpanel-inner').height();
        h = Math.max(h, $('#bigpanel').height());
        $('#bigpanel').height(h);
        $('#sidepanel').height(h);
    });
</script>
</body>
</html>
