{% extends "base.html" %}
{% block body %}
<h1>Little LFO</h1>
<img src="/static/img/little_lfo.png"></img>
<p>Little LFO is a semi-modular Rack Extension for <a href="http://shop.propellerheads.se">Reason</a>.</p>
<h4 class="list-title">Uses</h4>
<ul class="list">
    <li>
        <span class="item">
            a monophonic oscillator section for a modular synth
        </span>
    </li>
    <li>
        <span class="item">
            a modulation source
        </span>
    </li>
    <li>
        <span class="item">
            a noise maker
        </span>
    </li>
</ul>
<h4 class="list-title">Features</h4>
<ul class="list">
    <li>
        <span class="item">
            4 oscillators
        </span>
    </li>
    <li>
        <span class="item">
            Enveloped and non-enveloped CV outputs (bipolar and unipolar)
        </span>
    </li>
    <li>
        <span class="item">
            Enveloped and non-enveloped audio outputs
        </span>
    </li>
    <li>
        <span class="item">
            Gate, note, and envelope CV out
        </span>
    </li>
</ul>
<h4 class="list-title">Uniqueness</h4>
<ul class="list">
    <li>
        <span class="item">
            All active oscillators...
        </span>
    </li>
</ul>
{% endblock body %}
