{% extends "base.html" %}
{% block body %}
<h1>Little LFO Rack Extension</h1>
<img src="/static/img/little_lfo.png"></img>
<p>Little LFO is a semi-modular Rack Extension for Reason.</p>
<h4>Uses</h4>
<ul>
    <li>a monophonic oscillator section for a modular synth</li>
    <li>a modulation source</li>
    <li>a noise maker</li>
</ul>
<h4>Features</h4>
<ul>
    <li>4 oscillators</li>
    <li>Enveloped and non-enveloped CV outputs (bipolar and unipolar)</li>
    <li>Enveloped and non-enveloped audio outputs</li>
    <li>Gate, note, and envelope CV out</li>
</ul>
<h4>Uniqueness</h4>
<ul>
    <li>All active oscillators...</li>
</ul>
{% endblock body %}
